Source: gibak
Section: utils
Priority: optional
Maintainer: Gabriel de Perthuis <g2p.code@gmail.com>
Build-Depends: debhelper, cdbs, ocaml-findlib, ocaml-nox (>= 3.10.0), ocaml-best-compilers, omake
Standards-Version: 3.7.3
Homepage: http://eigenclass.org/repos/gitweb?p=gibak.git;a=summary

Package: gibak
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, git-core (>= 1.5.4.2), rsync (>= 2.6.4), bash (>= 3.2)
Description: backup tool based on Git
 Since gibak builds upon the infrastructure offered by Git, it shares its main
 strengths:
 * speed: recovering your data is faster that cp -a...
 * full revision history
 * space-efficient data store, with file compression and textual/binary deltas
 * efficient transport protocol to replicate the backup (faster than rsync)
 .
 gibak uses Git's hook system to save and restore the information Git doesn't
 track itself such as permissions, empty directories and optionally mtime
 fields.

